<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Solicitud</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Seguimiento</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Seguimiento
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="max-w-full">

      <!-- Vertical stepper -->

      <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="formControl">
        <mat-vertical-stepper [linear]="true" #verticalStepper>
          <mat-step [formGroupName]="'step1'" [stepControl]="formControl.get('step1')">
            <ng-template matStepLabel>Equipo de trabajo</ng-template>
            <div class="w-full">
              <div class="w-full">
                <p class="pb-5">Lider</p>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Nombre</mat-label>
                  <input matInput name="lead_name" formControlName="lead_name" [matAutocomplete]="auto0" (input)="onChangeFilter('lead_name', 'user', '1')" />
                  <mat-autocomplete #auto0="matAutocomplete" [displayWith]="displayUser">
                    <ng-container>
                      <mat-option *ngFor="let user of selectables['lead_name']" [value]="user" (click)="onClickUser('lead_name', '1')">{{user.name}}</mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Area</mat-label>
                  <input matInput name="lead_area" formControlName="lead_area" />
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Cargo</mat-label>
                  <input matInput name="lead_position" formControlName="lead_position" />
                </mat-form-field>
              </div>
              <div class="flex justify-end">
                <button mat-icon-button (click)="removeCauses(workTeam)">
                  <mat-icon [svgIcon]="'heroicons_outline:minus-sm'" class="mr-2"></mat-icon>
                </button>
                <button mat-icon-button (click)="addCauses(workTeam)">
                  <mat-icon [svgIcon]="'heroicons_outline:plus'" class="mr-2"></mat-icon>
                </button>
              </div>
              <div class="w-full" *ngFor="let i of workTeam">
                <p class="pb-5">Integrante {{i}}</p>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Nombre</mat-label>
                  <input matInput [name]="('user_name_'+i)" [id]="('user_name_'+i)" [formControlName]="('user_name_'+i)" [matAutocomplete]="auto1" (input)="onChangeFilter('user_name_'+i, 'user', '1')" />
                  <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayUser">
                    <ng-container>
                      <mat-option *ngFor="let user of selectables['user_name_'+i]" [value]="user" (click)="onClickUser('user_name_'+i, '1')">{{user.name}}</mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Area</mat-label>
                  <input matInput [name]="('user_area_'+i)" [id]="('user_area_'+i)" [formControlName]="('user_area_'+i)" />
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                  <mat-label>Cargo</mat-label>
                  <input matInput [name]="('user_position_'+i)" [id]="('user_position_'+i)" [formControlName]="('user_position_'+i)" />
                </mat-form-field>
              </div>
            </div>
            <div class="flex justify-end">
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="doneStep1()">
                Siguiente
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'step2'" [stepControl]="formControl.get('step2')">
            <ng-template matStepLabel>Accion correctiva Inmediata</ng-template>
            <div class="flex justify-end mt-5">
              <button mat-icon-button (click)="removeCauses(upgradePlanI)">
                <mat-icon [svgIcon]="'heroicons_outline:minus-sm'" class="mr-2"></mat-icon>
              </button>
              <button mat-icon-button (click)="addCauses(upgradePlanI)">
                <mat-icon [svgIcon]="'heroicons_outline:plus'" class="mr-2"></mat-icon>
              </button>
            </div>
            <mat-tab-group class="mt-5">
              <mat-tab *ngFor="let i of upgradePlanI" [label]="'Accion Correctiva ' + i">
                <div class="w-full">
                  <mat-form-field class="w-1/2 pr-4">
                    <mat-label>Descripcion breve de la accion correctiva</mat-label>
                    <input matInput [name]="('goal_description_'+i)" [id]="('goal_description_'+i)" [formControlName]="('goal_description_'+i)">
                  </mat-form-field>
                  <mat-form-field class="w-1/2">
                    <mat-label>Nombre del responsable</mat-label>
                    <input matInput [name]="('person_assigned_'+i)" [id]="('person_assigned_'+i)" [formControlName]="('person_assigned_'+i)">
                  </mat-form-field>
                </div>
                <div class="w-full">
                  <mat-form-field class="w-1/3 pr-4">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput (dateChange)="autofillWeek(i, 2)" [matDatepicker]="picker1" [name]="('init_date_'+i)" [id]="('init_date_'+i)" [formControlName]="('init_date_'+i)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="w-1/3 pr-4">
                    <mat-label>Fecha fin</mat-label>
                    <input matInput (dateChange)="autofillWeek(i, 2)" [matDatepicker]="picker2" [name]="('end_date_'+i)" [id]="('end_date_'+i)" [formControlName]="('end_date_'+i)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="w-1/3">
                    <mat-label>Plazo semana</mat-label>
                    <input matInput [name]="('unit_measurement_'+i)" [id]="('unit_measurement_'+i)" [formControlName]="('unit_measurement_'+i)">
                  </mat-form-field>
                </div>
                <div class="w-full">
                  <mat-label>Seguimiento</mat-label>
                  <quill-editor [name]="('follow_process_description_'+i)" [id]="('follow_process_description_'+i)" [formControlName]="('follow_process_description_'+i)" [styles]="{height: '400px'}"></quill-editor>

                </div>
                <div class="w-full">
                  <mat-form-field class="w-2/3 pr-4">
                    <mat-label [id]="('evidence_file_'+i)">Evidencia</mat-label>
                    <ngx-mat-file-input [name]="('evidence_file_'+i)" [formControlName]="('evidence_file_'+i)" (change)="onChangeFileI('2', 'evidence_file_'+i)"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="w-1/3">
                    <mat-label>Avance</mat-label>
                    <input matInput type="number" [name]="('percentage_'+i)" [id]="('percentage_'+i)" [formControlName]="('percentage_'+i)">
                  </mat-form-field>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button type="button" matStepperPrevious>
                Atras
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="doneStep2()">
                Siguiente
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'step3'" [stepControl]="formControl.get('step3')">
            <ng-template matStepLabel>Analisis de causas</ng-template>
            <step3 [stepper]="stepper"></step3>
          </mat-step>

          <mat-step [formGroupName]="'step4'" [stepControl]="formControl.get('step4')">
            <ng-template matStepLabel>Accion correctiva Definitiva</ng-template>
            <div class="flex justify-end mt-5">
              <button mat-icon-button (click)="removeCauses(upgradePlanD)">
                <mat-icon [svgIcon]="'heroicons_outline:minus-sm'" class="mr-2"></mat-icon>
              </button>
              <button mat-icon-button (click)="addCauses(upgradePlanD)">
                <mat-icon [svgIcon]="'heroicons_outline:plus'" class="mr-2"></mat-icon>
              </button>
            </div>
            <mat-tab-group class="mt-5">
              <mat-tab *ngFor="let i of upgradePlanD" [label]="'Accion Correctiva ' + i">
                <div class="w-full">
                  <mat-form-field class="w-1/2 pr-4">
                    <mat-label>Descripcion breve de la accion correctiva</mat-label>
                    <input matInput [name]="('goal_description_'+i)" [id]="('goal_description_'+i)" [formControlName]="('goal_description_'+i)">
                  </mat-form-field>
                  <mat-form-field class="w-1/2">
                    <mat-label>Nombre del responsable</mat-label>
                    <input matInput [name]="('person_assigned_'+i)" [id]="('person_assigned_'+i)" [formControlName]="('person_assigned_'+i)">
                  </mat-form-field>
                </div>
                <div class="w-full">
                  <mat-form-field class="w-1/3 pr-4">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput (dateChange)="autofillWeek(i, 4)" [matDatepicker]="picker3" [name]="('init_date_'+i)" [id]="('init_date_'+i)" [formControlName]="('init_date_'+i)">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="w-1/3 pr-4">
                    <mat-label>Fecha fin</mat-label>
                    <input matInput (dateChange)="autofillWeek(i, 4)" [matDatepicker]="picker4" [name]="('end_date_'+i)" [id]="('end_date_'+i)" [formControlName]="('end_date_'+i)">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field class="w-1/3">
                    <mat-label>Plazo semana</mat-label>
                    <input matInput [name]="('unit_measurement_'+i)" [id]="('unit_measurement_'+i)" [formControlName]="('unit_measurement_'+i)">
                  </mat-form-field>
                </div>
                <div class="w-full">
                  <mat-label>Seguimiento</mat-label>
                  <quill-editor [name]="('follow_process_description_'+i)" [id]="('follow_process_description_'+i)" [formControlName]="('follow_process_description_'+i)" [styles]="{height: '400px'}"></quill-editor>
                </div>
                <div class="w-full">
                  <mat-form-field class="w-2/3 pr-4">
                    <mat-label [id]="('evidence_file_'+i)">Evidencia</mat-label>
                    <ngx-mat-file-input [name]="('evidence_file_'+i)" [formControlName]="('evidence_file_'+i)" (change)="onChangeFileD('4', 'evidence_file_'+i)"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="w-1/3">
                    <mat-label>Avance</mat-label>
                    <input matInput type="number" [name]="('percentage_'+i)" [id]="('percentage_'+i)" [formControlName]="('percentage_'+i)">
                  </mat-form-field>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button type="button" matStepperPrevious>
                Atras
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="doneStep4()">
                Siguiente
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>

    </div>

  </div>

</div>