<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div class="bg-card">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
      <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
        <!-- Avatar and name -->
        <div class="flex flex-auto items-center min-w-0">
          <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="assets/images/avatars/brian-hughes.jpg">
          </div>
          <div class="flex flex-col min-w-0 ml-4">
            <ng-container *transloco="let t">
              <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{t('welcome-back')}}, {{user?.name}}!</div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Project selector -->
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 m-5">
    <div class="w-full max-w-screen-xl mx-auto">
      <!-- Tabs -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
        <!-- Summary -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Abiertas</div>
            <div class="ml-2 -mt-2 -mr-3">
            </div>
          </div>
          <div class="flex flex-col items-center mt-5 mb-7">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
            <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Solicitudes</div>
          </div>
        </div>
        <!-- Overdue -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Vencidas</div>
            <div class="ml-2 -mt-2 -mr-3">
            </div>
          </div>
          <div class="flex flex-col items-center mt-5">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
            <div class="text-lg font-medium text-red-600 dark:text-red-500">Solicitudes</div>
          </div>
        </div>
        <!-- Issues -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Listas para cerrar</div>
          </div>
          <div class="flex flex-col items-center mt-5">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Solicitudes</div>
          </div>
        </div>
        <!-- Features -->
        <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex items-start justify-center">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Cerradas</div>
          </div>
          <div class="flex flex-col items-center mt-5">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
            <div class="text-lg font-medium text-green-600 dark:text-green-500">Solicitudes</div>
          </div>
        </div>
        <!-- Github issues summary -->
        <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
          <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Solicitudes</div>
            <div class="mt-3 sm:mt-0 sm:ml-2">
              <mat-button-toggle-group value="this-week" #githubIssuesWeekSelector="matButtonToggleGroup">
                <mat-button-toggle value="last-week">La semana pasada</mat-button-toggle>
                <mat-button-toggle value="this-week">Esta semana</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
            <!-- New vs. Closed -->
            <div class="flex flex-col flex-auto">
              <div class="font-medium text-secondary">Solicitudes abiertas</div>
              <div class="flex flex-col flex-auto">
                <apx-chart class="flex-auto w-full h-80" [chart]="chartGithubIssues.chart" [colors]="chartGithubIssues.colors" [dataLabels]="chartGithubIssues.dataLabels" [grid]="chartGithubIssues.grid" [labels]="chartGithubIssues.labels" [legend]="chartGithubIssues.legend"
                  [plotOptions]="chartGithubIssues.plotOptions" [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]" [states]="chartGithubIssues.states" [stroke]="chartGithubIssues.stroke" [tooltip]="chartGithubIssues.tooltip" [xaxis]="chartGithubIssues.xaxis"
                  [yaxis]="chartGithubIssues.yaxis"></apx-chart>
              </div>
            </div>
            <!-- Overview -->
            <div class="flex flex-col">
              <div class="flex wrapper w-full">
                <div class="flex font-medium text-secondary w-1/2">Sistema General de Calidad</div>
                <div class="flex font-medium text-secondary w-1/2 ml-3">Sistema de Control Interno</div>
              </div>
              <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                <!-- New issues -->
                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                  <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sgc-open']}}
                  </div>
                  <div class="mt-1 text-sm sm:text-lg font-medium">Abiertas</div>
                </div>
                <!-- Closed -->
                <div class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                  <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sci-open']}}
                  </div>
                  <div class="mt-1 text-sm sm:text-lg font-medium">Abiertas</div>
                </div>
                <!-- Fixed -->
                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                  <div class="text-5xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sgc-r-close']}}
                  </div>
                  <div class="mt-1 text-sm font-medium text-center">Lista para cerrar</div>
                </div>
                <!-- Won't fix -->
                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                  <div class="text-5xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sgc-close']}}
                  </div>
                  <div class="mt-1 text-sm font-medium text-center">Cerradas</div>
                </div>
                <!-- Re-opened -->
                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                  <div class="text-5xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sci-r-close']}}
                  </div>
                  <div class="mt-1 text-sm font-medium text-center">Listas para cerrar</div>
                </div>
                <!-- Needs triage -->
                <div class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                  <div class="text-5xl font-semibold leading-none tracking-tight">
                    {{data.overview[githubIssuesWeekSelector.value]['sci-close']}}
                  </div>
                  <div class="mt-1 text-sm font-medium text-center">Cerradas</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
