<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">Solicitud</a>
        </div>
        <div class="ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Nueva</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Nueva Solicitud
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

    <div class="max-w-6xl">
      <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden" [formGroup]="requestFormControl">

        <div class="w-full">
          <mat-form-field class="w-1/4 pl-2">
            <mat-label>Fecha inicio</mat-label>
            <input matInput [matDatepicker]="picker1" name="init_date" formControlName="init_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-1/4 pl-4">
            <mat-label>Fecha detecta</mat-label>
            <input matInput [matDatepicker]="picker2" name="detected_date" formControlName="detected_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-2/4 pl-4">
            <mat-label>Detectado en</mat-label>
            <mat-select name="detected_in" formControlName="detected_in">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full">
          <mat-form-field class="w-2/3 pl-2">
            <mat-label>Detectado por </mat-label>
            <mat-select name="detected_for_id" formControlName="detected_for_id">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-1/3 pl-4">
            <mat-label>Requisito incumplido</mat-label>
            <mat-select name="unfulfilled_requirement" formControlName="unfulfilled_requirement">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full">
          <mat-form-field class="w-2/3 pl-2">
            <mat-label>Lider del proceso </mat-label>
            <mat-select name="unfulfilled_requirement" formControlName="unfulfilled_requirement">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-1/3 pl-4">
            <mat-label>Proceso afectado</mat-label>
            <mat-select name="process_affected" formControlName="process_affected">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full">
          <mat-form-field class="w-2/3 pl-2">
            <mat-label>Como se detecta </mat-label>
            <mat-select name="how_detected" formControlName="how_detected">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-1/3 pl-4">
            <mat-label>Tipo de accion</mat-label>
            <mat-select name="action_type" formControlName="action_type">
              <ng-container
                *ngFor="let color of ['primary', 'accent', 'warn', 'basic', 'info', 'success', 'warning', 'error']">
                <mat-option [value]="color">{{color | titlecase}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full">
          <mat-form-field class="w-full pl-2">
            <mat-label>Evidencia</mat-label>
            <ngx-mat-file-input placeholder="Basic Input"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full pl-2">
            <mat-label>Descripcion de la evidencia</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
              name="evidence_description" formControlName="evidence_description"></textarea>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field class="w-full pl-2">
            <mat-label>Descripcion del hallazgo o mejora</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"
              name="request_description" formControlName="request_description"></textarea>
          </mat-form-field>
        </div>

        <button mat-button class="bg-primary text-white" (click)="submit()">Crear una solicitud</button>
      </form>
    </div>

  </div>

</div>
