<div class="absolute inset-0 min-w-0 text-center overflow-auto print:overflow-visible" cdkScrollable>

  <!-- Main -->
  <div class="inline-block p-6 sm:p-10 text-left print:p-0">

    <!-- Invoice -->
    <div
      class="w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none print:bg-transparent">

      <div class="flex items-start justify-between">
        <div class="grid grid-cols-2 gap-x-4 gap-y-1">
          <div class="text-4xl tracking-tight text-secondary">SOLICITUD</div>
          <div class="text-4xl">#{{requestId.toString().padStart(4, '0')}}</div>
          <div class="font-medium tracking-tight text-secondary">FECHA</div>
          <div class="font-medium">{{formatDate(request?.init_date)}}</div>
          <div class="font-medium tracking-tight text-secondary">LIDER AUDITADO</div>
          <div class="font-medium">{{request?.process_lead_name}}</div>
          <div class="font-medium tracking-tight text-secondary">AUDITOR</div>
          <div class="font-medium">{{request?.detected_for_name}}</div>
        </div>
        <div class="grid auto-cols-max grid-flow-col gap-x-8 -mr-16 py-6 px-8 rounded-l-2xl bg-accent dark">
          <div class="place-self-center w-24">
            <img class="w-24" src="assets/images/logo/logo.svg">
          </div>
          <div class="pl-10 border-l text-md">
            <div class="font-medium">Electrohuila SA ESP</div>
            <div class="font-medium">Oficina de Control Interno</div>
            <div>Sede El Bote</div>
            <div>Edificio de la promision</div>
            <div>+57 317 777 7777</div>
            <div>sgc@electrohuila.com</div>
            <div>www.electrohuila.com</div>
          </div>
        </div>
      </div>

      <div class="text-md">
        <div class="text-xl font-medium">{{request?.unfulfilled_requirement_code}}</div>
        <div>Departamento de {{request?.affected_process_code}}</div>
        <div [innerHTML]="request?.request_description"></div>
        <div [innerHTML]="request?.evidence_description"></div>
      </div>

      <div class="mt-16">
        <div class="font-medium">Este documento se emitio electronicamente por el sistema de informacion de el
          departamento de control interno</div>
        <div class="flex items-start mt-4">
          <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo.svg">
          <div class="ml-6 text-sm text-secondary">
            Electrohuila SA ESP almacena la información en un dispositivo, tales como cookies, y procesamos datos
            personales, tales como identificadores únicos e información estándar enviada por un dispositivo, para
            anuncios y contenido personalizados, medición de anuncios y del contenido e información sobre el público,
            así como para desarrollar y mejorar productos.
          </div>
        </div>
      </div>

    </div>


    <div class="flex justify-end mt-8">
      <button class="px-8" mat-flat-button type="button" (click)="printPage()">
        Imprimir
      </button>
    </div>

  </div>

</div>
